.fire-table{
    border-collapse: collapse;
    border: 1px solid #000;
}

.fire-table td{
    width: 4px;
    height: 4px;
    border: 0;
}

.fire-table td .pixel-index{
    position: absolute;
    top: 2px;
    right: 2px;
    color: #cecece;
    font-size: 10px;
}